:root {
  --button-color: #2196f3;
  --box: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --border: 4px;
}
* {
  box-sizing: border-box;
}
.whattodo {
  font-family: "Roboto";
  /* text-align: center; */
  color: #212121;
  width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.02em;
  padding-right: 50px;
}
.link:hover {
  color: #2196f3;

  background-color: #ffffff;
}

.kontakt {
  background-color: #757575;
}

.buttons {
  transition-duration: 0, 4s;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  border-radius: 4px;
  background-color: #f5f4fa;
  border: none;
  margin-left: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.buttons:hover {
  color: #ffffff;
  background-color: var(--button-color);
  box-shadow: var(--box);
  border-radius: var(--border);
  /* background: #2196f3; */
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;

  border: none;
  background-color: var(--button-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* .button:hover {
  color: #ffffff;
  background-color: var(--button-color);
  box-shadow: var(--box);

  box-shadow: var(--box);
  border-radius: var(--border);
   background: #2196f3;
}    */
/* .footerlinks{
    position: absolute;
} */

.footer {
  width: 1600px;
  background-color: #2f303a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.footre > .content {
  flex-grow: 1;
}
.address {
  display: flex;
  flex-direction: column;
  padding-left: 215px;
  padding-top: 15px;
}
.number {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}
.menu {
  width: 1400px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  width: 1600px;

  background-color: #2f303a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 280px;
  padding-left: 452px;
  padding-right: 452px;
}

.border {
  display: flex;
  width: 1200px;
  align-items: center;
  color: #ffffff;
  display: flex;
  padding-left: 25px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 25px;
  /* border: 1px solid red; */
}
.paragraf2 {
  width: 696px;
  margin: 10 15px 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
}
/* .description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
 
  letter-spacing: 0.03em;

  color: #757575;
} */

.container {
  width: 1200px;
  display: flex;
  flex-direction: row;
}

.box {
  display: inline-block;
  width: 370px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  justify-content: space-between;
}
.box-graph {
  width: 1400px;
  display: inline-block;
  justify-content: center;
}

.box-team {
  width: 270px;
  display: flex;
  justify-content: center;
  margin: 15px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #212121;
  background-color: #ffffff;
}
.paragraf {
  color: #212121;
  text-align: left;
  width: 270px;
}

.paragraf1 {
  width: 1300px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: solid;
  text-align: center;
  display: inline-block;
}

.lorem {
  width: 350px;
  /* margin: 10 15px 15px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  text-align: justify;
  letter-spacing: 0.03em;
  display: inline-block;
}
.section {
  color: #ffffff;

  /* padding-top: 200px;
  padding-bottom: 280px; */
  margin: auto;
  background-color: #f5f4fa;
  /* display: flex;
  justify-content: center; */
}
.section2 {
  width: 1600px;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 150px;
  padding-right: 150px;
}
.main {
  width: 1600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ececec;
  /* padding-top: 200px;
  padding-bottom: 280px; */

  /* display: flex;
  justify-content: center; */
}
.links {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.02em;
  background-color: transparent;
  padding-top: 5px;
}
.links:hover {
  color: #2196f3;

  background-color: transparent;
}
.header-portfolio {
  margin: auto;
  display: flex;
  padding-top: 94px;
}

.section-portfolio {
  max-width: 1400px;
  padding-bottom: 94px;
  padding-top: 60px;
}
.box-portfolio {
  background-color: #fff;
}

.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.description-portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #757575;
  background-color: #ffffff;
  box-shadow: var(--box);
}
